<ul th:fragment="side_menu()" id="app_side_menu">
    <li class="app_side_menu_item">
      <a href="/home">
        <img src="/imgs/home.png" alt="home">HOME
      </a>
    </li>
    <li class="app_side_menu_item"  >
      <a href="/storage">
        <img src="/imgs/warehouse.png" alt="kho">KHO
      </a>
    </li>
    <li class="app_side_menu_item"  >
      <a href="/entryProduct">
        <img src="/imgs/entry_product.png" alt="Nhập Hàng">Nhập Hàng
      </a>
    </li>
    <li class="app_side_menu_item"  >
      <a href="/sales">
        <img src="/imgs/sales.png" alt="Bán Hàng">Bán Hàng
      </a>
    </li>
</ul>
