html {
    height: 100%;
  }
  
  body {
    height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
  }
  
  main {
    display: flex;
    align-items: center; /* Căn giữa theo chiều dọc */
    flex: 1;
  
  }
  
  #app_header {
    background-color: #607d8b;
    display: flex;
    justify-content: space-between;
  }
  
  #app_title {
    padding: 16px;
    display: flex;
    align-items: center;
  }
  
  #app_title img {
    height: 40px;
    width: 40px;
    margin-right: 8px;
  }
  
  #app_title p {
    font-size: 32px;
    color: #ffffff;
    line-height: 40px;
    margin: 0;
  }
  
  #user_menu {
    padding: 24px 16px;
    display: flex;
    align-items: center;
  }
  
  #user_menu p {
    font-size: 16px;
    color: #ffffff;
    line-height: 24px;
    margin-right: 4px;
  }
  
  #logout_button {
    width: 24px;
    height: 24px;
    background-color: transparent;
    border: none;
    padding: 0;
  }
  
  #logout_button img {
    height: 100%;
    width: 100%;
  }
  
  
  #app_contents {
    display: flex;
    background-color: #ffffff;
    height: 100%;
  }
  
  #app_side_menu {
    min-width: 200px;
    background-color: #ffffff;
    display: block;
    box-shadow: 2px 0 2px 0 rgba(0,0,0,.3);
    margin: 0;
    padding: 0;
  }
  
  #app_contents_area {
    width: 100%;
    overflow: auto;
    display: flex;
    flex-direction: column;
    padding: 24px 40px;
    align-items: center;
  }
  
  .app_side_menu_item {
    background-color: #ffffff;
    border-bottom: 1px solid #c2c2c2;
    padding: 16px;
    display: flex;
  }
  
  .app_side_menu_item :hover {
    background-color: rgb(0,0,0,0.3);
  }
  
  .app_side_menu_item img {
    margin-right: 16px;
    height: 24px;
    width: 24px;
  }
  
  .app_side_menu_item a {
    font-size: 20px;
    color: #000000;
    line-height: 24px;
    text-decoration: none;
  }
  
  
  #page_title {
    display: block;
    font-size: 32px;
    color: #000000;
    line-height: 40px;
    margin-bottom: 24px;
  }
    
    
  
  .search_form {
    background-color: #b0bec5;
    margin-bottom: 24px;
    padding: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 560px;
  }
  
  
  .search_form label {
    font-size: 16px;
    color: #ffffff;
    line-height: 24px;
  }
  
  .search_form input, .search_form select {
    font-size: 16px;
    color: #000000;
    height: 24px;
    border: none;
  }

  .swich_type_date {
    width: 30px;
    height: 30px;
    padding: 0; /* Loại bỏ padding để hình ảnh không bị đẩy ra ngoài */
    box-sizing: border-box; /* Đảm bảo kích thước bao gồm cả padding và border */
    display: flex; /* Sử dụng flexbox để căn giữa hình ảnh */
    align-items: center; /* Căn giữa theo chiều dọc */
    justify-content: center; /* Căn giữa theo chiều ngang */
    margin-top: 20px;
  }
  .swich_type_date img {
    width: 30px;
    height: 30px;
  }
  #date_area p {
    font-size: 16px;
    color: #ffffff;
    line-height: 0px;
  }
  #module1 {
    display: flex;
    flex-direction: column;
  }
  #module2 {
    display: none;
    flex-direction: column;

  }
  
  #date_area {
    display: flex;
    gap: 20px;
  }

  #search_button {
    font-size: 16px;
    color: #ffffff;
    background-color: #607d8b;
    margin: 16px auto 0;
    height: 24px;
    width: 300px;
  }
  
  #search_error {
    font-size: 16px;
    color: #ff0000;
    display: none;
    text-align: center;
    margin: 0;
  }
  
  
  
  
  .data_list {
    border: 1px solid #c2c2c2;
    border-collapse: collapse;
    width: 100%;
    table-layout: fixed;
  }
  
  .data_list thead {
    background-color: #607d8b;
  }
  
  
  .data_list th {
    font-size: 16px;
    color: #ffffff;
    text-align: left;
    padding: 8px;
    height: 48px;
  }
  
  
  
  #thf {
    width: 120px;
  }
  #thl {
    width: 48px;
  }
  
  
  #data_list_items {
    background-color: #ffffff;
  }
  #data_list_items tr {
    border: 1px solid #c2c2c2;
  }
  
  
  
  #data_list_items td {
    font-size: 16px;
    color: #000000;
    padding: 8px;
    height: 48px;
  }
  
  
  
  #tdf {
    width: 176px;
  }
  
  
  #tdl1, #tdl2, #none {
    width: 48px;
  }
  
  
  
  .edit_product_button, .remove_product_button {
    display: block;
    width: 32px;
    height: 32px;
    padding: 0;
    border: none;
    background-color: transparent;
  }
  
  #data_list_items img {
    height: 100%;
    width: 100%;
  }
  
  
  
  #add_entry_product_button {
    display: block;
    width: 32px;
    height: 32px;
    padding: 0;
    border: none;
    background-color: transparent;
  }
  
  #add_entry_product_button img {
    height: 100%;
    width: 100%;
  }
  
  
  #page_wrapper {
      background-color: rgba(0, 0, 0, 0.4); 
      display: none; 
      position: absolute; 
      top: 0; 
      left: 0; 
      width: 100%; 
      height: 100%; 
      justify-content: center; 
      align-items: center; 
  }
  
  /* CSS for loading_dialog */
  #loading_dialog {
      width: 56px; 
      height: 56px; 
      display: none; 
  }
  

  #add_entry_product_dialog {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    border-radius: 4px;
    padding: 24px;
    width: 300px;

  }

  #add_product_dialog_title {
    color: #000000;
    font-size: 24px;
  }

  #add_form label {
    display: block;
    margin-top: 20px;
    color: #000000;
    font-size: 16px;
    text-align: left;
  }
  
  #title_select1, #input_quantity {
    font-size: 16px;
    color: #000000;
    border: 1px solid #c2c2c2;
    width: 100%;
  }


  #add_entry_product_button_area {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
  
    
  #close_add_entry_product_button {
    font-size: 16px;
    color: #ffffff;
    background-color: #607d8b;
    width: 100px;
    height: 24px;
    margin: 0 24px 0 0;
  }
    
  #decide_add_entry_product_button{
    font-size: 16px;
    color: #ffffff;
    background-color: #607d8b;
    width: 100px;
    height: 24px;
    margin: 0;
  }
  #add_entry_product_error {
    font-size: 16px;
    color: #ff0000;
    line-height: 24px;
    text-align: center;
    display: none;
    margin: 0;
  }