html {
    height: 100%;
}

body {
    height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
}

main {
    display: flex;
    align-items: center; /* Căn giữa theo chiều dọc */
    flex: 1;

}

#app_header {
    background-color: #607d8b;
    display: flex;
    justify-content: space-between;
}

#app_title {
    padding: 16px;
    display: flex;
    align-items: center;
}

#app_title img {
    height: 40px;
    width: 40px;
    margin-right: 8px;
}

#app_title p {
    font-size: 32px;
    color: #ffffff;
    line-height: 40px;
    margin: 0;
}

#user_menu {
    padding: 24px 16px;
    display: flex;
    align-items: center;
}

#user_menu p {
    font-size: 16px;
    color: #ffffff;
    line-height: 24px;
    margin-right: 4px;
}

#logout_button {
    width: 24px;
    height: 24px;
    background-color: transparent;
    border: none;
    padding: 0;
}

#logout_button img {
    height: 100%;
    width: 100%;
}


#app_contents {
    display: flex;
    background-color: #f3f3f4;
    height: 100%;
}

#app_side_menu {
    min-width: 200px;
    background-color: #ffffff;
    display: block;
    box-shadow: 2px 0 2px 0 rgba(0,0,0,.3);
    margin: 0;
    padding: 0;
}

#app_contents_area {
    width: 100%;
    height: auto;
    overflow: auto;
    display: flex;
    flex-direction: column;
    padding: 24px 40px;
    align-items: center;
}

.app_side_menu_item {
    background-color: #ffffff;
    border-bottom: 1px solid #c2c2c2;
    padding: 16px;
    display: flex;
}

.app_side_menu_item :hover {
    background-color: rgb(0,0,0,0.3);
}

.app_side_menu_item img {
    margin-right: 16px;
    height: 24px;
    width: 24px;
}

.app_side_menu_item a {
    font-size: 20px;
    color: #000000;
    line-height: 24px;
    text-decoration: none;
}


#page_title {
    display: block;
    font-size: 32px;
    color: #000000;
    line-height: 40px;
    margin-bottom: 24px;
}



.shop_info {
    display: flex;
    gap: 40px;
  }
  
  #orders, #money,#client {
    display: flex;
    width: 300px;
    flex-direction: column;
    border-top: 2px solid #80808030;
    background-color: #ffffff;
    padding: 20px;
    margin-bottom: 40px;
    margin-top: 50px;
  }
  
  #box_title {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid black;
  }
  
  #box_content {
    display: flex;
    flex-direction: column;
  }
  
  #box_content div {
    display: flex;
    justify-content: space-between;
  }
  .shop_info img {
    height: 40px;
    width: 40px;
  }

.search_form {
    background-color: #b0bec5;
    margin-bottom: 24px;
    padding: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 560px;
}
  
  
.search_form label {
    font-size: 16px;
    color: #ffffff;
    line-height: 24px;
}
  
.search_form select {
    font-size: 16px;
    color: #000000;
    height: 24px;
    border: none;
}
  
#search_error {
    font-size: 16px;
    color: #ff0000;
    display: none;
    margin: 0;
    line-height: 24px;
}
  
#search_button {
    font-size: 16px;
    color: #ffffff;
    background-color: #607d8b;
    margin: 16px auto 0;
    height: 24px;
    width: 100px;
}
#form_title {
    margin: auto;
    font-size: 20px;
    color: #ffffff;
}

#chart_content {
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding-bottom: 100px;
}

#salesPieChart_container {
    width: 400px;
    height: 400px;
    display: none;
    flex-direction: column;
    justify-content: center;
    margin-top: 20px;
}

#revenueAreaChart_container{
    width: 800px;
    height: 600px;
    display: none;
    flex-direction: column;
    justify-content: center;
    margin-top: 200px;
}

#salesPieChart {
    width: auto;
    height: auto;
}
#revenueAreaChart {
    width: auto;
    height: auto;
   
}
#chart_title {
    color: black;
    font-size: 20px;
}

#income_details {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

#income_details h2 {
    color: black;
    
}

#sales_details h2 {
    color: black;
   
}
