<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="_csrf" th:content="${_csrf.token}">
    <meta name="_csrf_header" th:content="${_csrf.headerName}">
    <link rel="stylesheet" href="/css/home.css">
   
  </head>
  <body>
    <header th:replace="~{common/header :: header()}"></header>
    
    <div id="app_contents">
      <div th:replace="~{common/side_menu :: side_menu()}"></div>
      
      <div id="app_contents_area">
        <p id="page_title">HOME</p>
        <form class="search_form">
          <label for="title_input">Tên SP:</label>
          <input type="text" id="title_input" name="title_input" >
          <p id="title_input_error">tên sản phẩm không vượt quá 200 kí tự</p>
          <label for="category_select">Chủng Loại:</label>
          <select id="category_select" name="category_select">
            <option value="" selected>Ấn vào đây để chọn</option>
          </select>
          <button id="search_button">Tìm Kiếm</button>
          <p id="search_error">Tìm Kiếm Thất Bại</p>
        </form>
        <table class="data_list">
          <thead>
            <tr>
              <th id="thf">ID</th>
              <th>Tên SP</th>
              <th>Chủng Loại</th>
              <th>Giá Nhập</th>
              <th>Giá Bán</th>
              <th id="none"></th>
              <th id="thl"><button id="add_product_button"><img src="/imgs/add.png"></button></th>
            </tr>
          </thead>
          <tbody id="data_list_items">
            <tr>
              <td id="tdf"></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td id="tdl1"><button class="edit_product_button"><img src="/imgs/edit.png" alt="edit"></button></td>
              <td id="tdl2"><button class="remove_product_button"><img src="/imgs/remove.png" alt="remove"></button></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div id="page_wrapper">
      <img id="loading_dialog" src="/imgs/loading.gif" alt="loading">
      
      <div id="add_product_dialog">
        <p id="add_product_dialog_title">Thêm SP vào hệ thống</p>
        <form id="add_form">
          <label for="add_product_title_input">Tên SP Mới:</label>
          <input type="text" name="add_product_title_input" id="add_product_title_input">
          <p id="add_product_title_input_error">tên sản phẩm không được trống</p>
          <label for="add_product_category_select">Chủng Loại:</label>
          <select class="js-tags" id="add_product_category_select" name="add_product_category_select">
            <option value="" selected>ấn để chọn các chủng loại đã có</option>
          </select>
          <input type="text" id="input_category" placeholder="Nhập chủng loại mới">
          <label for ="input_entry_price">Giá Nhập(yen):</label>
          <input type="number" name="input_entry_price" id="input_entry_price">
          <label for="input_sell_price">Giá Bán(yen):</label>
          <input type="number" name="input_sell_price" id="input_sell_price">
          <div id="add_product_button_area">
            <button id="close_add_product_button">Huỷ</button>
            <button id="decide_add_product_button">Xác Nhận</button>
          </div>
          <p id="add_product_error">Thêm Thất Bại</p>
        </form>
      </div>
      
      
      
      <div id="edit_product_dialog">
        <p id="edit_product_dialog_title">Sửa thông tin SP</p>
        <form id="edit_form">
          <label for="edit_product_title_input">Tên SP:</label>
          <input type="text" name="edit_product_title_input" id="edit_product_title_input">
          <p id="edit_product_title_input_error">tên sản phẩm không được trống</p>
          <label for="edit_product_category_select">Chủng Loại:</label>
          <select id="edit_product_category_select" name="edit_product_category_select">
            <option value="" selected>ấn để chọn các chủng loại đã có</option>
          </select>
          <input type="text" id="edit_category" placeholder="Nhập chủng loại mới">
          <label for ="edit_entry_price">Giá Nhập(yen):</label>
          <input type="number" name="edit_entry_price" id="edit_entry_price">
          <label for="edit_sell_price">Giá Bán(yen):</label>
          <input type="number" name="edit_sell_price" id="edit_sell_price">
          <div id="edit_product_button_area">
            <button id="close_edit_product_button">huỷ</button>
            <button id="decide_edit_product_button">Lưu</button>
          </div>
          <p id="edit_product_error">Lưu Thất Bại</p>
        </form>
      </div>
      
      
      <div id="remove_product_dialog">
        <p id="remove_product_dialog_title">Xoá Sản Phẩm</p>
        <form id="remove_form">
          <p id="remove_dialog_msg"></p>
          <div id="remove_product_button_area">
            <button id="close_remove_product_button">huỷ</button>
            <button id="decide_remove_product_button">xoá</button>
          </div>
          <p id="remove_product_error">xoá thất bại</p>
        </form>
      </div>
      
      
    </div>
    
    

    <script src="/js/logout.js"></script> 
    <script src="/js/addProduct.js"></script> 
    <script src="/js/getProductInfo.js"></script> 
    <script src="/js/editProductInfo.js"></script> 
    <script src="/js/removeProductInfo.js"></script> 
  </body>
</html>
