<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="_csrf" th:content="${_csrf.token}">
    <meta name="_csrf_header" th:content="${_csrf.headerName}">
    <link rel="stylesheet" href="/css/incomeDetails.css">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  </head>
  <body>
    <header th:replace="~{common/header :: header()}"></header>
    
    <div id="app_contents">
      <div th:replace="~{common/side_menu :: side_menu()}"></div>
      
      <div id="app_contents_area">
        <p id="page_title">Chi Tiết Thu Chi</p>
        <div class="shop_info">

          <div id="orders">
            <div id="box_title">
              <h4 th:text ="|Số Đơn Hàng Tháng ${currentMonth}|"></h4>
              <img src="/imgs/orders.png" alt="orders">
            </div>
            <div id="box_content">
              <h1 th:text ="${currentMonthorders}" ></h1>
              <div>
                <small>so với tháng trước</small>
                <small id="orderDifference" th:text = "${orderDifference}" ></small>
              </div>
            </div>
          </div>

          <div id="money">
            <div id="box_title">
              <h4 th:text ="|Doanh thu tháng ${currentMonth}|"></h4>
              <img src="/imgs/revenue.png" alt="revenue">
            </div>
            <div id="box_content">
              <h1 id="uriage" th:text ="${uriage}"></h1>
              <div>
                <small>lãi ròng</small>
                <small id="revenue" th:text ="${revenue}"></small>
              </div>
            </div>
          </div>
          <div id="client">
            <div id="box_title">
              <h4 th:text ="|Top Khách Hàng Tháng ${currentMonth}|"></h4>
              <img src="/imgs/client.png" alt="client">
            </div>
            <div id="box_content">
              <h1 th:text ="${clientName}"></h1>
              <div>
                <small>Số lần mua hàng</small>
                <small id="time_traded" th:text ="${countPurchases}"></small>
              </div>
            </div>
          </div>

        </div>
        <form class="search_form">
          <p id="form_title">Phân Tích Doanh Thu</p>
          <label for="month_select">Chọn Tháng:</label>
          <select id="month_select" name="month_select">
            <option value="" selected>ấn để chọn tháng</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
            <option value="7">7</option>
            <option value="8">8</option>
            <option value="9">9</option>
            <option value="10">10</option>
            <option value="11">11</option>
            <option value="12">12</option>
          </select>
          <button id="search_button">Tìm Kiếm</button>
          <p id="search_error">Tìm Kiếm Thất Bại</p>
        </form>

        <div id="salesPieChart_container">
          <canvas id="salesPieChart" ></canvas>
        </div>
        <div id="revenueAreaChart_container">
          <canvas id="revenueAreaChart"></canvas>
        </div>

      </div>
    </div>
    <script src="/js/logout.js"></script>
    <script src="/js/incomeDisplay.js"></script> 
    <script src="/js/incomeApi.js"></script> 
  </body>
</html>
