<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="_csrf" th:content="${_csrf.token}">
    <meta name="_csrf_header" th:content="${_csrf.headerName}">
    <link rel="stylesheet" href="/css/sales.css">
   
  </head>
  <body>
    <header th:replace="~{common/header :: header()}"></header>
    
    <div id="app_contents">
      <div th:replace="~{common/side_menu :: side_menu()}"></div>
      
      <div id="app_contents_area">
        <p id="page_title">Bán Hàng</p>
        <form class="search_form">
          <label for="title_select">Tên SP:</label>
          <select id="title_select" name="title_select">
            <option value="" selected>Ấn vào đây để chọn</option>
          </select>
          <button class="swich_type_date"><img src="/imgs/swich.png" alt="swich"></button>
          <div id="module1">
            <label for="day_input">Nhập ngày(ấn nút bên trên để đổi kiểu nhập)</label>
            <input type="date" name="day_input"  id="day_input">
          </div>
          <div id="module2">
            <label for="day_input_before">Nhập khoảng ngày(ấn nút bên trên để đổi kiểu nhập)</label>
            <div id="date_area">
              <input type="date" name="day_input_before"  id="day_input_before"> <p>  ~  </p> <input type="date" name="day_input_after"  id="day_input_after">
            </div>
          </div>
          
          <button id="search_button">Tìm Kiếm Lịch Sử Bán Hàng</button>
          <p id="search_error">Tìm Kiếm Thất Bại</p>
        </form>
     
        <table class="data_list">
          <thead>
            <tr>
              <th id="thf">ID Đơn Hàng</th>
              <th>Tên SP</th>
              <th>Tên Khách</th>
              <th>Địa Chỉ</th>
              <th>Số Lượng</th>
              <th>Tổng giá</th>
              <th>Ngày Bán</th>
              <th id="thl"><button id="add_sales_button"><img src="/imgs/cart.png"></button></th>
            </tr>
          </thead>
          <tbody id="data_list_items">
            <tr>
              <td id="tdf"></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div id="page_wrapper">
      <img id="loading_dialog" src="/imgs/loading.gif" alt="loading">

       <div id="add_sales_dialog">
        <p id="add_sales_dialog_title">Bán Hàng</p>
        <form id="add_form">
          <label for="title_select1">Tên SP:</label>
          <select id="title_select1" name="title_select1">
            <option value="" selected>Ấn vào đây để chọn</option>
          </select>

          <label for="input_quantity">Số Lượng :</label>
          <input type="number" id="input_quantity" name="input_quantity">

          <label for="select_clienName">Tên Khách Hàng:</label>
          <select id="select_clienName" name="select_clienName">
            <option value = "" selected>Chọn Tên khách Đã Từng Mua</option>
          </select>
          <input type="text" id="input_clienName" placeholder="Nhập Tên Khách Hàng Mới">

          <label for="input_address">Địa chỉ Giao Hàng:</label>
          <textarea id="input_address" name="input_address" rows="4" cols="60"></textarea>

          <div id="add_sales_button_area">
            <button id="close_add_sales_button">Huỷ</button>
            <button id="decide_add_sales_button">Xác Nhận</button>
          </div>
          <p id="add_sales_error">Bán Thất Bại</p>
        </form>
      </div> 
      <div id="invoice">
        <div id="invoice_header">
          <h1>Hoá Đơn</h1>
          <h4 id="local_date"></h4>
        </div>
        <h2>SOUNSHOP</h2>
        <div id="invoice_content">
          <h3 id="client_name"></h3>
          <h3 id="client_address"></h3>
          <h3 id="product_name"></h3>
          <h3 id="product_quantity"></h3>
          <h3 id="price"></h3>
        </div>
        <div id="payment_method">
          <h2>Phương Thức Thanh Toán</h2>
          <h3 id="payment_method_content"></h3>
        </div>
        <div id="invoice_end">
          <h3 id="end_word"></h3>
          <button id="close_invoice">Xác Nhận</button>
        </div>
      </div>

    </div>
    <script src="/js/logout.js"></script> 
    <script src="/js/getSalesInfo.js"></script> 
    <script src="/js/addSalesInfo.js"></script> 



  </body>
</html>
